.container-nav {
  margin: 0;
  border: 0;
  width: 30px;
  height: auto;
  float: right;
}
.container-nav__button {
  background: #383737;
  color: white;
  border-style: none;
  width: 35px;
  height: 35px;
}
